# Part 1

In [35]:
import pandas as pd 
import numpy as np

 ### Transforming data into pandas dataframe.

In [36]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url,header=0)[0]

### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [37]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [38]:
nota = 'Not assigned'
df = df[(df.Borough != nota)]

In [39]:
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. 
### So for the 9th cell (before dropping not assigned Borough > now the 7th cell) in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [40]:
df.loc[df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df['Borough']

In [42]:
df.head(10)

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor
7         M7A      Queen's Park      Queen's Park
9         M9A      Queen's Park      Queen's Park
10        M1B       Scarborough             Rouge
11        M1B       Scarborough           Malvern
13        M3B        North York   Don Mills North

### Separate neighborhood with comma when in same postal code area.

In [43]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
group = df.groupby(['PostalCode', 'Borough'])
df2 = group.apply(neighborhood_list).reset_index(name='Neighborhood')

In [44]:
df2.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Use the .shape method to print the number of rows of your dataframe.

In [45]:
df2.shape

(103, 3)